<div class="row">

  <div class="large-8 columns">

    <h2>Articles</h2>
    </div>
    </div>

    <%= render user_signed_in? ? "#{current_user.role}_articles" : "visitor_articles" %>

<div class="row">

  <div class="large-8 columns">
    <br>
    <% if user_signed_in? && policy(@articles).create? %>
      <%= link_to('New Article', new_article_path, class: 'button') %>
    <% end %>
  </div>
</div>
