<div id='about' class='large-8 columns'>
  <h1>About Mary</h1>
  <p>I'm a full-stack senior software developer in Seattle, WA experienced in Ruby on Rails and Go. I enjoy solving problems with diverse teams for mission-driven organizations.</p>
  <ul id='about-bullets'>
    <li>4+ years doing software development, QA, and testing at <a href='http://www.expertvoice.com'>Expert Voice</a> and <a href='http://www.navigatingcancer.com'>Navigating Cancer</a></li>
    <li>Home life: raising a small cohort of ninja turtles in South Seattle</li>
    <li>Trained via Code Fellows Ruby on Rails development accelerator</li>
    <li>Ten years experience as a non-profit fundraiser, managing fundraising strategy and relationships with board members, internal stakeholders, and donors</li>
    <li>You can't scare me, I taught middle school</li>
  </ul>
</div>

<div id='testimonials' class='large-8 columns'>
  <h1>Testimonials</h1>
  <blockquote>Mary's leadership skills, her persistence towards success, and her ability to think critically through complex projects make her an invaluable addition to any team.<cite> Jackson Giles, entrepreneur</cite></blockquote>
  <blockquote>Mary is a strategic thinker with excellent people skills and attention to detail. She manages complex projects skillfully and with reliably good results, and makes those she works with feel valued.<cite> non-profit board member</cite></blockquote>
  <blockquote>I can’t get over how much I like your robot app. I’ve had a terrible morning of phone calls and it really made my day.<cite> Joshua Blount, web developer</cite></blockquote>
</div>
