<div id="blog" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-8 columns">
        <h2>Recent Blog Posts</h2>

        <ul id="blog-titles">
        </ul>
      </div>
    </div>
  </div>
</div>
