<script> Article.ajaxCall() </script>
<div id='blog' class='large-10 columns'>
  <h1>Recent Blog Posts</h1>
  <img src='<%= asset_path 'Loading_icon.gif' %>' class='spinner'>
  <ul id='blog-titles'>
  </ul>
</div>
