<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>

    <meta charset="UTF-8">

    <title>Relevant V-Card</title>

    <!-- Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../assets/css/normalize.css">

    <!-- Foundation core CSS -->
    <link rel="stylesheet" href="../assets/css/foundation.css">

    <!-- Foundation font icons core CSS -->
    <link rel="stylesheet" href="../assets/css/foundation-icons.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../assets/css/red.css">

    <!-- Google Web Fonts CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700">

    <!-- Favicons -->
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/img/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/img/favicon/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/img/favicon/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="../assets/img/favicon/apple-touch-icon-precomposed.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="../assets/js/modernizr.js"></script>

</head>

<body >

    <!-- LOADER -->
    <div id="loader"> </div>
    <!-- / LOADER -->

    <!-- / PAGE -->
    <div id="page">
        <!-- lMAIN HEAD -->
        <header id="main_head">
            <div class="row">

                <div class="large-3  medium-5 column">
                    <a href="index.html" class="logo">
                        <img src="../assets/img/logo.png" alt="Relevant v-card">
                    </a>
                </div>


                <div class="large-9  medium-7 column">
                    <div class="description text-center">
                         <h4>WebDesigner/Developer</h4>
                    </div>
                </div><!-- / COLUMN-->

            </div><!-- / ROW-->
        </header><!-- / MAIN HEAD -->

        <!-- MAIN BODY -->
        <section id="main_body">

                <div class="off-canvas-wrap">
                    <div class="inner-wrap">

                      <!-- NAV -->
                      <nav class="tab-bar">
                        <section class="left-small">
                          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                        </section>
                      </nav><!-- NAV -->

                    <!-- ASIDE -->
                      <aside class="left-off-canvas-menu">

                          <ul class="off-canvas-list">
                              <li><label>Menu</label></li>
                              <li><a href="index.html"><i class="fi-home size-24"></i> &nbsp;  Home</a></li>
                              <li><a href="resume.html"><i class="fi-download size-24"></i> &nbsp;  Resume</a></li>
                              <li><a href="portfolio.html"><i class="fi-camera size-24"></i> &nbsp;  Portfolio</a></li>
                              <li><a href="contact.html"><i class="fi-mail size-24"></i> &nbsp;  Contact</a></li>
                          </ul>

                          <div class="share_icons">
                            <ul class="text-center">
                                  <li><a href="#"><i class="fi-social-facebook size-36"></i></a></li>
                                  <li><a href="#"><i class="fi-social-twitter size-36"></i></a></li>
                                  <li><a href="#"><i class="fi-social-youtube size-36"></i></a></li>
                                  <li><a href="#"><i class="fi-social-instagram size-36"></i></a></li>
                            </ul>
                          </div><!-- / SHARE ICONS -->
                      </aside><!-- / ASIDE -->

                      <section class="main-section margin-top">
                          <div class="row">
                              <div class="large-4  medium-3 columns">
                                <figure class="figure">
                                  <img class="th" src="../assets/img/author.jpg" alt="Author">
                                </figure><!-- / FIGURE-->

                                <!-- ADDRESS-->
                                <div class="margin-top margin-bottom">

                                  <ul class="vcard">
                                    <li class="fn">Ryan Dhoe</li>
                                    <li class="street-address">123 Colonial Ave.</li>
                                    <li class="locality">La Coruña</li>
                                    <li><span class="state">Spain</span>, <span class="zip">12345</span></li>
                                    <li class="email"><a href="#">ryan_dhoe@cmail.com</a></li>
                                  </ul>

                                </div><!-- / ADDRESS-->
                              </div><!-- / COLUMN-->

                              <div class="large-8  medium-9 columns">
                                <form id="contact"  data-abide>
                                    <fieldset>
                                      <legend>Contact with Me</legend>

                                          <div class="name-field">
                                            <label>Name  <small>required</small></label>
                                            <input type="text" placeholder="Enter your Name" required pattern="[a-zA-Z]+">
                                            <small class="error">Name is required and must be a string.</small>
                                          </div>

                                          <div class="email-field">
                                            <label>Email  <small>required</small></label>
                                            <input type="email" placeholder="Enter your Email" required>
                                            <small class="error">An email address is required.</small>
                                          </div>

                                          <label>Url</label>
                                          <input type="text" placeholder="Enter your URL...">

                                          <label>Menssage</label>
                                          <textarea placeholder="Enter your Menssage.."></textarea>

                                          <input type="submit" class="small button"  value="Send Menssage">
                                    </fieldset>
                                  </form><!-- / FORM-->
                              </div><!-- / COLUMN-->
                            </div><!-- / ROW-->
                          </section><!-- / SECTION-->

                     <a class="exit-off-canvas"></a>

              </div><!-- / INNER -->
          </div><!-- /  OFF CANVAS  -->
        </section><!-- / MAIN  BODY -->

        </div><!-- PAGE -->

      <!-- FOOTER -->
      <footer id="main_footer" class="margin-bottom">
          Copyright 2013 Ryan Dhoe
      </footer><!-- FOOTER -->

    <!-- JS  here -->
    <script src="../assets/js/vendor/jquery.js"></script>
    <script src="../assets/js/foundation.min.js"></script>
    <script src="../assets/js/script.js"></script>

</body>

</html>
