<h1>Portfolio</h1>
<h2>Mary Dickson Diaz</h2>

<p>Hi, I'm Mary and I'm a student with <a href="http://www.codefellows.org">Code Fellows</a>. I'm proficient in HTML, CSS, JavaScript, jQuery, and web development using Ruby on Rails. You can read about my experience (and some other stuff) at www.marydickson.com.</p>

Find me online:
<ul>
<li><a href="https://www.linkedin.com/in/mcdickson">LinkedIn </a></li>
<li><a href="https://www.github.com/marythought">GitHub</a></li>
</ul>
