<%= render 'layouts/banner' %>

<div class="row">
<hr>
</div>
  <%= render 'layouts/about' %>

<div class="row">
<hr>
</div>
  <%= render 'layouts/portfolio' %>

<div class="row">
<hr>
</div>
  <%= render 'layouts/testimonials' %>
