<div class="row">
  <div class="large-12 columns">
    <img src="<%= asset_path('skyline.jpg')%>">
  </div>
</div>

<div class="row">
<hr>
</div>
  <%= render 'layouts/about' %>

<div class="row">
<hr>
</div>
  <%= render 'layouts/portfolio' %>
