<div class="row">
  <div class="large-12 columns">
    <img src="assets/pamukkale.jpg">
  </div>
</div>

<div class="row">
<hr>
</div>
  <%= render 'layouts/about' %>

<div class="row">
<hr>
</div>
  <%= render 'layouts/portfolio' %>
