<script> News.ajaxCall() </script>
<div id="news" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-12 columns">
        <h2>Tech News</h2>
        <img src="<%= asset_path 'Loading_icon.gif' %>" class='spinner'>
        <ul id="news-list">
        </ul>
      </div>
    </div>
  </div>
</div>
