<div id="about" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-8 columns" id='resume'>
        <h1>Mary Dickson Diaz</h1>

        <p><em>Seattle, WA</em> | 206-853-7095 | <a href="mailto:mdickson@gmail.com">mdickson@gmail.com</a> | <a href="http://linkedin.com/in/mcdickson">linkedin</a> | <a href="http://github.com/marythought">github</a> | <a href="http://www.marydickson.info">portfolio</a></p>

        <p>Full-stack software developer specialized in Ruby on Rails and experienced in feature development, QA and testing, and working with Agile teams. Fast, flexible and self-directed learner with track record of results.</p>

        <h2 id="technicalskills">Technical Skills</h2>

        <ul>
        <li>Ruby / Ruby on Rails</li>

        <li>JavaScript and JS Frameworks including JQuery, Angular, React &amp; Redux </li>

        <li>HTML / CSS</li>

        <li>SQL (MySQL, SQlite, PostgreSQL)</li>

        <li>Automated and Manual QA/Testing &amp; Behavior-Driven Development (BDD)</li>

        <li>Web deployment tools: Heroku / AWS</li>
        </ul>

        <h2 id="experience">Experience</h2>

        <h4 id="experticitysoftwareengineermarch2016present">Experticity, Software Engineer | <em>March 2016 - present</em></h4>

        <ul>
        <li>Worked on Software Engineer in Test contract for ReadyPulse, the world's #1 social influencer marketing platform, then hired as Software Engineer when the company merged with Experticity in July 2016</li>

        <li>Testing and bug fix / feature development for 1st and 2nd generation senior marketer platform apps used by over 750 top consumer brands</li>

        <li>Developed a script to create a full-featured demo brand for Experticity sales executives, including mock brand assets and stats</li>

        <li>Fixed bugs and fulfilled feature requests for 1st generation legacy product in use by hundreds of live customers. One of 3 engineers in the company responsible for deployment and live patches.</li>
        </ul>

        <h4 id="codefellows">Code Fellows, Teaching Assistant | <em>November 2015 - February 2016</em></h4>

        <p>Support instructors and students to meet learning objectives in 301: Intermediate Software Development. Help design new and evolving curriculum.</p>

        <h4 id="ischool">University of Washington Information School, Corporate &amp; Foundation Relations | <em>2013 – 2015</em></h4>

        <p>Secured financial and in-kind support for research and teaching initiatives, including a lead gift to support the iSchool’s DataLab research team. Doubled revenue to iAffiliates program from previous year.</p>

        <h4 id="fftf">Fight for the Future, Annual Funds Manager | <em>2012 – 2013</em></h4>

        <p>Development strategy and execution for a national non-profit working to preserve freedom of expression online, including: creation of annual strategic plan, list-based online appeals, campaign funding, crowd-funding, corporate partnerships, and foundation and major gift strategy.</p>

        <h4 id="tfa">Teach For America &amp; Citizen Schools, Corporate &amp; Foundation Relations | <em>Houston, TX: 2005 – 2012</em></h4>

        <p>Held a variety of roles with increasing responsibility from 2005-2012 leading up to strategy and execution for annual corporate and foundation funding goal of up to $5 million. Increased corporate giving at Teach For America by 81% and special event revenue by 86% in one year. Managed a portfolio of more than 100 corporate and foundation donors.</p>

        <h4 id="hisd">Houston Independent School District, Teacher, English Language Arts | <em>Houston, TX: 2002 – 2005</em></h4>

        <p>Taught first under the auspices of national service corps of outstanding recent college graduates who commit two years to teach in under-resourced public schools, then continued teaching in original assignment for a third year.</p>

        <h2 id="education">Education</h2>

        <h3 id="codefellowsedu">Code Fellows, Seattle, WA</h3>

        <ul>
        <li>Code 501: React &amp; Redux</li>

        <li>Ruby on Rails Advanced Software Development – Certificate awarded October 2015</li>

        <li>Foundations II: Ruby</li>

        <li>Foundations II: Python</li>

        <li>Foundations I: HTML/CSS/JavaScript/JQuery</li>
        </ul>

        <h3 id="kalacademy">Kal Academy</h3>

        <ul>
        <li>Data Structures &amp; Algorithms</li>
        </ul>

        <h4 id="umd">University of Maryland</h4>

        <p>College Park, MD – Bachelor of Arts cum laude</p>
      </div>
    </div>
</div>
</div>
