<div id="about" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-8 columns">
        <h2>Resume</h2>
  <br>
  <p>Software developer specialized in Ruby on Rails and experienced in project and relationship management. Fast, self-directed learner seeking junior development role in a supportive and collaborative environment.<p>

  <h3>Technical Skills</h3>
  <ul>
  <li>Languages: Ruby, HTML, CSS, JavaScript, JQuery, Python</li>
  <li>Frameworks: Rails, Angular, Node, WordPress</li>
  <li>Tools: Behavior-Driven Development (BDD), SQL (PostgreSQL), No-SQL (WebDB, MongoDB), Git, Agile, Heroku</li>
  </ul>

  <h3>Projects</h3>
  <ul>
    <li>Digital Docent: January 2016 | Ruby on Rails, PostgreSQL: an app to showcase your art, collectables, and memorabilia– by item, by room, by artist, or by collection.</li>
    <li>ORDR: October 2015 | Ruby on Rails, PostgreSQL, MongoDB, Heroku, Haml, Remote JavaScript (RJS): Added RJS to an existing (but broken) webapp for job search tracking, migrated database from MongoDB to Postgres. Rebuilt to deployment with a team of three people in four days.</li>
    <li>UFundIt / Ignitebot: September 2015 | Ruby on Rails, Heroku, AWS: Deals on demand generator connecting people and opportunities to each other. I built this app from conception to deployment in five days on a team of three people. Responsible for deal logic and implementation.</li>
    <li>marydickson.info: September 2015 | Ruby on Rails, JavaScript, Heroku: Personal portfolio site, developed in Rails with devise user authentication, uses RJS for projects single-page load and view.</li>
    <li>Bookmerge:  August 2015 | Ruby, Sinatra, Markov chain gem, Heroku: App combines two classic books (or custom text) and generates new sentences in the style of each. Built from idea to execution over the span of several weeks.</li>
    <li>Bletchley Bot: January 2015 | Python, Twitter API, Heroku: Benevolent twitterbot tweets names & bios of Bletchley Park code-cracking veterans.</li>

  <h3>Lightning Talks</h3>
  <ul>
  <li>Fuzzy Search: Background and practical usage for Levenshtein distance & Sørensen-Dice coefficient</li>
  <li>Markov Chains: Markov chains for text generation, with “A Tale of Two Cities” example</li>
  </ul>
  <h3>Experience</h3>
  <ul>
  <li>Code Fellows, Teaching Assistant | 2015 – present
  Ensure student success and support instructors in Code Fellow’s 301 class, Intermediate Software Development. Class covers common core of software development, including MVC, Object-Oriented Programming, functional programming, and asynchronous programming via HTML, CSS, and JavaScript.</li>

  <li>University of Washington Information School, Corporate & Foundation Relations | 2013 – 2015
  Secured financial and in-kind support for research and teaching initiatives, including a lead gift to support the iSchool’s DataLab research team. Doubled revenue to iAffiliates program from previous year.</li>

  <li>Fight for the Future, Annual Funds Manager | Remote team (from Houston, TX): 2012 – 2013
  Development strategy and execution for a national non-profit working to preserve freedom of expression online, including: creation of annual strategic plan, list-based online appeals, campaign funding, crowd-funding, corporate partnerships, and foundation and major gift strategy.</li>

  <li>Teach For America & Citizen Schools, Corporate & Foundation Relations | Houston, TX: 2005 – 2012
  Held a variety of roles with increasing responsibility from 2005-2012 leading up to strategy and execution for annual corporate and foundation funding goal of up to $5 million. Increased corporate giving at Teach For America by 81% and special event revenue by 86% in one year. Managed a portfolio of more than 100 corporate and foundation donors.
  Produced high-quality written communication for funders at all stages of the development process, including pitch decks, proposals, and reports for foundation and corporate prospects.</li>

  <li>Houston Independent School District, Teacher | Houston, TX: 2002 – 2005
  Taught 7th grade English Language Arts first under the auspices of national service corps of outstanding recent college graduates who commit two years to teach in under-resourced public schools, then continued teaching in original assignment for a third year.</li>
  <h3>Education</h3>

  Code Fellows, Seattle, WA
  Ruby on Rails Development – Certificate awarded October 2015
  Foundations I: HTML/CSS/JavaScript/JQuery; Foundations II: Python; Foundations II: Ruby – 2015
  University of Maryland, College Park, MD – Bachelor of Arts cum laude, 2002</p>
</div>
</div>
</div>
</div>
