<div id="about" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-8 columns">
        <h2>Resume</h2>
      </div>
    </div>
  <br>
  <p><a href="http://marydickson.com/wp-content/uploads/2014/12/Dickson.resume.2016.pdf">Open as PDF</a><br></p>
  <p>Software developer specialized in Ruby on Rails and experienced in project and relationship management. Fast, self-directed learner seeking junior development role in a supportive and collaborative environment.</p>

  <h3>Technical Skills</h3>
  <ul>
  <li>Languages: Ruby, HTML, CSS, JavaScript, JQuery, Python</li>
  <li>Frameworks: Rails, Angular, Node, WordPress</li>
  <li>Tools: Behavior-Driven Development (BDD), SQL (PostgreSQL), No-SQL (WebDB, MongoDB), Git, Agile, Heroku</li>
  </ul>

  <h3>Projects</h3>
  <ul>
    <li><a href="https://digital-docent.herokuapp.com/">Digital Docent</a>: January 2016 | Ruby on Rails, PostgreSQL: an app to showcase your art, collectables, and memorabilia– by item, by room, by artist, or by collection.</li>
    <li><a href="http://www.ordr.es/">ORDR</a>: October 2015 | Ruby on Rails, PostgreSQL, MongoDB, Heroku, Haml, Remote JavaScript (RJS): Added RJS to an existing (but broken) webapp for job search tracking, migrated database from MongoDB to Postgres. Rebuilt to deployment with a team of three people in four days.</li>
    <li><a href="https://u-fund-it.herokuapp.com/">UFundIt / Ignitebot</a>: September 2015 | Ruby on Rails, Heroku, AWS: Deals on demand generator connecting people and opportunities to each other. I built this app from conception to deployment in five days on a team of three people. Responsible for deal logic and implementation.</li>
    <li><a href="http://bookmerge.heroku.com/">Bookmerge</a>:  August 2015 | Ruby, Sinatra, Markov chain gem, Heroku: App combines two classic books (or custom text) and generates new sentences in the style of each. Built from idea to execution over the span of several weeks.</li>
    <li><a href="https://twitter.com/BletchleyRoll">Bletchley Bot</a>: January 2015 | Python, Twitter API, Heroku: Benevolent twitterbot tweets names & bios of Bletchley Park code-cracking veterans.</li>
  </ul>

  <h3>Lightning Talks</h3>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=k7XiZkq5vig">Fuzzy Search</a>: Background and practical usage for Levenshtein distance and Sørensen-Dice coefficient</li>
    <li><a href="https://www.youtube.com/watch?v=hfW8BzNOk78">Markov Chains</a>: Markov chains for text generation, with “A Tale of Two Cities” example</li>
  </ul>

  <h3>Experience</h3>
  <h5>Code Fellows, Teaching Assistant</h5>
  <p>2015 – present<br>
  Ensure student success and support instructors in Code Fellow’s 301 class, Intermediate Software Development. Class covers common core of software development, including MVC, Object-Oriented Programming, functional programming, and asynchronous programming via HTML, CSS, and JavaScript.</p>

  <h5>University of Washington Information School, Corporate & Foundation Relations</h5>
  <p>2013 – 2015<br>
  Secured financial and in-kind support for research and teaching initiatives, including a lead gift to support the iSchool’s DataLab research team. Doubled revenue to iAffiliates program from previous year.</p>

  <h5>Fight for the Future, Annual Funds Manager</h5>
  <p>2012 – 2013<br>
  Development strategy and execution for a national non-profit working to preserve freedom of expression online, including: creation of annual strategic plan, list-based online appeals, campaign funding, crowd-funding, corporate partnerships, and foundation and major gift strategy.</p>

  <h5>Teach For America & Citizen Schools, Corporate & Foundation Relations</h5>
  <p>Houston, TX: 2005 – 2012<br>
  Held a variety of roles with increasing responsibility from 2005-2012 leading up to strategy and execution for annual corporate and foundation funding goal of up to $5 million. Increased corporate giving at Teach For America by 81% and special event revenue by 86% in one year. Managed a portfolio of more than 100 corporate and foundation donors.<br>
  Produced high-quality written communication for funders at all stages of the development process, including pitch decks, proposals, and reports for foundation and corporate prospects.</p>

  <h5>Houston Independent School District, Teacher</h5>
  <p>Houston, TX: 2002 – 2005<br>
  Taught 7th grade English Language Arts first under the auspices of national service corps of outstanding recent college graduates who commit two years to teach in under-resourced public schools, then continued teaching in original assignment for a third year.</p>

  <h3>Education</h3>
  <ul>
  <li>Code Fellows, Seattle, WA
  Ruby on Rails Development – Certificate awarded October 2015
  Foundations I: HTML/CSS/JavaScript/JQuery; Foundations II: Python; Foundations II: Ruby – 2015</li>
  <li>University of Maryland, College Park, MD – Bachelor of Arts cum laude, 2002</li>
  </ul>
</div>
</div>
