<div id="resume" class="large-10 column">
  <h2>Mary Dickson Diaz</h2>
  <p><em>Seattle, WA</em> | 206-853-7095 |
    <a href="mailto:mdickson@gmail.com">mdickson@gmail.com</a> |
    <a href="http://linkedin.com/in/mcdickson">linkedin</a> |
    <a href="http://github.com/marythought">github</a> |
    <a href="http://www.marydickson.info">portfolio</a>
  </p>

  Full-stack senior software developer specialized in Ruby on Rails and Go, and experienced in web-based apps, REST APIs, legacy monolith and microservice architecture, feature development, databases, QA and testing, and leading Agile teams.

  <h2 id="technicalskills">Technical Skills</h2>

  <ul>
    <li>Ruby / Ruby on Rails</li>
    <li>Go</li>
    <li>JavaScript and JS Frameworks including React, Backbone, JQuery, Angular</li>
    <li>HTML / CSS</li>
    <li>SQL (MySQL, PostgreSQL)</li>
    <li>Web deployment tools: Heroku / AWS</li>
    <li>REST APIs</li>
  </ul>

  <h2 id="experience">Experience</h2>

  <h4 id="navcan">Navigating Cancer, Senior Software Engineer | <em>May 2018 - present</em></h4>

  <p>Full-stack development and team lead for patient management platform used by oncology clinics, primarily in Ruby on Rails monolith app with Rails engines and Backbone/React front end components</p>
  <ul>
    <li>Promoted to senior engineer/care management team lead after one year</li>
    <li>Work with product lead and team of engineers to design and deliver new care management features including asynchronous reporting, new triage incident types, banner alert system</li>
    <li>Prod support and client fulfillment initiatives to enable internal support team to better serve clients without needing engineering intervention</li>
    <li>Responsible for bi-weekly release train coordination, including identifying and communicating impact of code changes to customers and internal stakeholders.</li>
    * Prod support and client fulfillment initiatives to enable internal support team to better serve clients without needing engineering intervention
  </ul>

  <h4 id="experticity">Experticity, Software Engineer | <em>March 2016 - March 2018</em></h4>

  <p>Full-stack development for marketer platform app used by hundreds of top consumer brands</p>
  <ul>
    <li>Rebuilt an API for marketer platform from Java -> Go</li>
    <li>Led Ruby on Rails -> Go transition for marketer platform web app</li>
    <li>Added feature for marketers to download content as a CSV (via email) through an Azkaban job</li>
    <li>Developed a script to create a full-featured demo brand for Experticity sales executives</li>
  </ul>

  <h4 id="codefellows">Code Fellows, Teaching Assistant | <em>November 2015 - February 2016</em></h4>

  <p>Support instructors and students to meet learning objectives in 301: Intermediate Software Development. Class covers common core of software development, including MVC, Object-Oriented Programming, functional programming, and asynchronous programming via HTML, CSS, and JavaScript.</p>

  <h4 id="ischool">University of Washington Information School, Corporate &amp; Foundation Relations | <em>2013 – 2015</em></h4>

  <p>Communicated iSchool research and teaching initiatives to Seattle area tech companies to build private/public partnerships and secure financial and in-kind support, including a lead gift to support the iSchool's DataLab research team. Doubled revenue to iAffiliates program from previous year.</p>

  <h4 id="fftf">Fight for the Future, Annual Funds Manager | <em>2012 – 2013</em></h4>

  <p>Fundraising development strategy and execution for a national non-profit working to preserve freedom of expression online, including: creation of annual strategic plan, list-based online appeals, campaign funding, crowd-fundin­g, corporate partnerships, and foundation and major gift strategy.</p>

  <h4 id="tfa">Teach For America &amp; Citizen Schools, Corporate &amp; Foundation Relations | <em>Houston, TX: 2005 – 2012</em></h4>

  <p>Held a variety of roles with increasing responsibility from 2005-2012 leading up to strategy and execution for annual corporate and foundation funding goal of up to $5 million. Increased corporate giving at Teach For America by 81% and special event revenue by 86% in one year. Managed a portfolio of more than 100 corporate and foundation donors.</p>

  <h4 id="hisd">Houston Independent School District, Teacher, English Language Arts | <em>Houston, TX: 2002 – 2005</em></h4>

  <p>Taught first under the auspices of national service corps of outstanding recent college graduates who commit two years to teach in under-resourced public schools, then continued teaching in original assignment for a third year.</p>

  <h2 id="education">Education</h2>

  <h3 id="codefellowsedu">Code Fellows, Seattle, WA</h3>

  <ul>
  <li>Code 501: React &amp; Redux</li>

  <li>Ruby on Rails Advanced Software Development – Certificate awarded October 2015</li>

  <li>Foundations II: Ruby</li>

  <li>Foundations II: Python</li>

  <li>Foundations I: HTML/CSS/JavaScript/JQuery</li>
  </ul>

  <h3 id="kalacademy">Kal Academy</h3>

  <ul>
  <li>Data Structures &amp; Algorithms</li>
  </ul>

  <h4 id="umd">University of Maryland</h4>

  <p>College Park, MD – Bachelor of Arts cum laude</p>
</div>
