<div class="row">
  <h2>Portfolio</h2>
  <div id="featured" class="row">
    <p><br></p>
  </div>

  <div id="portfolio">
   <ul class="medium-block-grid-3 large-block-grid-4">
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
    </ul>
    <% if current_user && current_user.admin? %>
    <%= link_to 'New Project', new_project_path, id: 'new_project_link',class: 'button', remote: true %>
    <% end %>
  </div>
</div>
