* {
  font-family: 'Cambay', sans-serif;
}

#headshot {
  img {
  border-radius: 50%;
  max-height: 350px;
  }
}

#navbar {
  li {
    display: inline-block;
    padding: 10px;
  }
  h1 {
    padding-left: 10px;
  }
}

.hero {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  background: url('skyline.jpg') no-repeat center center;
  background-size: cover;
  height: 260px;
  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		// background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		// opacity: .8;
  }
  h1 {
    color: white;
    font-size: 2rem;
    line-height: 2em;
    font-weight: 500;
    text-align: left;
  }
  #sitetitle{
    background: black;
    opacity: .5;
  }
  // large screen
  @media only screen and (min-width: 40.063em) {
    h1 {
      text-align: left;
      font-size: 2.3rem;
    }
  }
}

#about, #portfolioindex, #login, #blog {
  padding: 20px;
}

#about-bullets li {
  padding-bottom: 10px;
}

#featured {
  text-align: center;
  ul {
    list-style-position: inside;
  }
}

#portfolio {
  .container {
    height: 200px;
    display: block;
    text-align: center;
    img {
      margin-right: auto;
      margin-left: auto;
      border-radius: 20%;
      max-height: 200px;
      padding-bottom: 10px;
    }
  }
  h3, p {
    text-align: center;
  }
}

#testimonials {
  h2 {
    padding-left: 10px;
  }
}

#article_cards ul li {
  display: block;
  padding: 5px;
  height: 400px;
  text-align: center;
}

#article_cards img {
  max-height: 150px;
}

#blog-titles {
  li {
    list-style-type:none
  }
  img {
    max-height: 400px;
  }
}
