* {
  font-family: 'Cambay', sans-serif;
}

#testimonials {
  clear: both;
  float: none;
}

#navbar {
  li {
    display: inline-block;
    padding: 10px;
  }
}

.hero {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  background: url('skyline.jpg') no-repeat center center;
  background-size: cover;
  height: 260px;
}

#about, #portfolioindex, #login, #blog, #news, #resume, #footer {
  padding: 20px;
}

#about-bullets li {
  padding-bottom: 10px;
}

#featured {
  text-align: center;
  ul {
    list-style-position: inside;
  }
}

#portfolio {
  .container {
    display: block;
    height: 200px;
    text-align: center;
    img {
      height: auto;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  h3, p {
    text-align: center;
  }
}

#blog-titles {
  li {
    list-style-type:none
  }
  img {
    max-height: 400px;
    max-width: 300px;
  }
}

#resume.column, #blog.columns {
  width: 83.33333%;
}

#footer p {
  margin-left: 40px;
}

.spinner {
  height: 100px;
}

.bottom-margin {
  margin-bottom: 30px;
}
