<div id="about" class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-8 columns">
        <h2>About</h2>

        <p>I'm a software developer in Seattle trained in Ruby on Rails and JavaScript. My passion is education and technology to empower people to build better communities. People and cats trust me. If you have projects, let's chat!</p>

        <ul id="about-bullets" class="circle">
          <li>Spent the past year doing software development, QA, and testing for ReadyPulse, a division of Experticity.</li>
          <li>Gave birth to world's best kid.</li>
          <li>Trained via Code Fellows Ruby on Rails development accelerator (a two-month, intensive code bootcamp)</li>
          <li>Further entrusted to support students and instructors as a Teaching Assistant for Code Fellows 301: Intermediate Software Development</li>
          <li>Ten years experience as a non-profit fundraiser, managing development strategy and relationships with board members, corporate partners, and foundations</li>
          <li>You can't scare me, I taught middle school</li>
        </ul>
        <i class="fi-social-twitter"></i>
      </div>

      <div id="headshot" class="large-4 columns">
        <img src="<%= asset_path('Mary2.jpg')%>">
      </div>
    </div>
  </div>
</div>
