<div id="about" class="large-8 columns">
  <h2>About Mary</h2>
  <p>I'm a full-stack senior software developer in Seattle, WA experienced in Ruby on Rails and Go. I enjoy solving problems with diverse teams for mission-driven organizations.</p>
  <ul id="about-bullets" class="circle">
    <li>4+ years doing software development, QA, and testing at <a href="http://www.expertvoice.com">Expert Voice</a> and <a href="http://www.navigatingcancer.com">Navigating Cancer</a></li>
    <li>Trained via Code Fellows Ruby on Rails development accelerator, and further entrusted to support students and instructors as a Teaching Assistant</li>
    <li>Ten years experience as a non-profit fundraiser, managing development strategy and relationships with board members, corporate partners, and foundations</li>
    <li>You can't scare me, I taught middle school</li>
  </ul>
</div>
