<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <p>Hi, I'm Mary and I'm a student with <a href="http://www.codefellows.org">Code Fellows</a>. I'm proficient in HTML, CSS, JavaScript, jQuery, and web development using Ruby on Rails. You can read about my experience (and some other stuff) at www.marydickson.com.</p>
  </div>
  <div class="medium-6 large-4 columns">
    <img src="https://placekitten.com/550/300">
  </div>
</div>
