<div class="row">
  <div class="large-12 columns">
  <ul data-orbit>
    <li><img src="<%= asset_path('skyline.jpg')%>"></li>
    <li><img src="<%= asset_path('pamukkale.jpg')%>"></li>
    <li><img src="<%= asset_path('naxos.jpg')%>"></li>
    <li><img src="<%= asset_path('olympics.jpg')%>"></li>
  </ul>
  <!-- <div id="slider">
  </div> -->
  </div>
</div>
