<div id='contact' class='large-8 columns'>
  <h2>Contact</h2>
  <a class='icon-mail' href='mailto:marydicksondiaz@gmail.com'> Email</a><br>
  <a class='icon-twitter' href='https://www.twitter.com/marythought'> Twitter</a><br>
  <a class='icon-linkedin' href='https://www.linkedin.com/in/mcdickson'> LinkedIn</a><br>
  <a class='icon-github' href='https://www.github.com/marythought'> GitHub</a>
</div>
