<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>Page and images by Mary Dickson except where otherwise noted. Icons by <a href="https://icomoon.io/">IcoMoon.</a></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>Link Love:</li>
          <li><a href="https://www.codefellows.org">Code Fellows</a></li>
<!--      <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
