<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <ul class="inline-list right"><p>Contact:<br></p>
          <li><a href="https://www.linkedin.com/in/mcdickson">LinkedIn</a><br></li>
          <li><a href="https://www.github.com/marythought">GitHub</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
    </div>
  </div>
</footer>
