<div id='login' class="large-12 columns">
  <h3><%= t('login.title') %></h3>
  <% if user_signed_in? %>
    <%= t('login.user', email: current_user.email) %> |
    <%= link_to t('login.logout'), destroy_user_session_path, method: :delete, data: { confirm: t('confirm') } %>
  <% else %>
    <%= link_to t('login.login'), new_user_session_path %>
  <% end %>
</div>
