<section class="hero">
  <div id="navbar" class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul id="navlinks" class="vertical medium-horizontal menu">
         <li><a href="/about" class=""> About </a></li>
         <li><a href="/projects" class=""> Portfolio </a></li>
         <li><a href="/blog" class=""> Blog </a></li>
         <li><a href="/resume" class=""> Resume </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="small-centered medium-uncentered columns">
    <h1><span id="sitetitle">Mary Dickson Diaz</span></h1>
  </div>

</section>
