<div id="navbar" class="hero">
  <div class="nav-bar right">
    <ul id="navlinks">
      <li><a href="/about"> About </a></li>
      <li><a href="/projects"> Portfolio </a></li>
      <li><a href="/blog"> Blog </a></li>
      <li><a href="/resume"> Resume </a></li>
    </ul>
  </div>
</div>
