<div class="small-12 medium-8 large-6 columns">
  <div class="nav-bar">
    <ul class="button-group">
    <li><a href="/" class="button">Home</a></li>
    <li><a href="#" class="button">Resume</a></li>
    <li><a href="/welcome/work" class="button">Work</a></li>
    <li><%= link_to "Blog", blogs_path, class: "button" %></li>
    <li><a href="#" class="button">Contact</a></li>
    </ul>
  </div>
</div>
