<div id="portfolio" class="row">
  <h2>Portfolio</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

    <li>
      <a href="http://bookmerge.herokuapp.com">
      <img src="<%= asset_path('bookmerge.png')%>"></a>
      <h3>Bookmerge!</h3>
      <p> A Sinatra/Ruby app that mashes your favorite books together to write horrible book children.</p>
    </li>

    <li>
    <a href="https://u-fund-it.herokuapp.com/"><img src="<%= asset_path('pinkrobot.png')%>"></a>
    <h3>UFundIt</h3>
    <p> </p>
    </li>

    <li>
    <a href="https://www.twitter.com/bletchleyroll"><img src="<%= asset_path('bletchley.jpg')%>"></a>
    <h3>Bletchley Bot</h3>
    <p>This twitter bot tweets mini-bios of women who served at Bletchley Park during WWII, some of the earliest computer programming pioneers.</p>
    </li>

    <li>
      <a href="http://www.marydickson.com"><img src="<%= asset_path('dealwithit.jpg')%>"></a>
      <h3>Wordpress</h3>
      <p>I've been blogging since before it was cool, most recently at marydickson.com. I write about learning to code and some other stuff.</p>
    </li>
  </ul>
</div>
