<div id="testimonials" class="large-8 columns">
  <h2>Testimonials</h2>
  <blockquote>Mary's leadership skills, her persistence towards success, and her ability to think critically through complex projects make her an invaluable addition to any team.<cite> Jackson Giles, entrepreneur</cite></blockquote>
  <blockquote>Mary is a strategic thinker with excellent people skills and attention to detail. She manages complex projects skillfully and with reliably good results, and makes those she works with feel valued.<cite> non-profit board member</cite></blockquote>
  <blockquote>I can’t get over how much I like your robot app. I’ve had a terrible morning of phone calls and it really made my day.<cite> Joshua Blount, web developer</cite></blockquote>
</div>
